@media only screen and (max-width: 1418px) {
    .books {
        .filter {
            .pagesWrapper {
                flex-direction: column;

                .pagesField {
                    width: 100% !important;
                }
            }
        }
    }
}

.books {
    -webkit-user-drag: none;
    display: grid;
    grid-template-columns: minmax(200px, 15%) 1fr;
    gap: 1em;
    height: 100%;

    .filter {
        min-height: 100%;
        position: relative;

        .filterHeader {
            margin-bottom: 80px;

            .filterHeaderCard {
                border-radius: 3px 3px 0 0;
                box-shadow: none;
                left: 0;
                padding: 1em 2em;
                position: absolute;
                right: 0;
                text-align: center;
                top: 0;
                width: 100%;

                .filterIcon {
                    color: #fafafa;
                    font-size: 32pt !important;
                    margin-bottom: 10px;
                    margin-top: 10px;
                }

                .filterTxt {
                    text-transform: uppercase;
                }
            }
        }

        .pagesWrapper {
            display: flex;
            justify-content: space-between;

            .pagesField {
                width: 48%;

                .pagesInput {
                    width: 100%;
                }
            }
        }
    }

    .mainView {
        display: grid;
        gap: 1.5em 0;
        grid-template-rows: 36px auto;
        max-height: 100%;
        overflow: hidden;
        position: relative;

        .loadingScreen {
            align-items: center;
            background-color: #b9b9b9b2;
            border-radius: 3px;
            bottom: 0;
            display: flex;
            flex-direction: column;
            grid-column-end: 1;
            grid-column-start: 0;
            justify-content: center;
            position: absolute;
            top: 50px;
            width: 100%;
            z-index: 999;

            .loadingMessage {
                margin-top: 20px;
            }
        }

        .emptyState {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            [class="md-empty-state-description"] {
                width: 80%;
            }
        }

        .fnBar {
            align-items: center;
            display: flex;

            form {
                align-items: center;
                display: flex;

                .isbnInputField {
                    width: 250px;

                    &[class*="md-focused"] {
                        .prefix {
                            color: var(--md-theme-default-primary) !important;
                        }
                    }

                    &[class*="md-invalid"] {
                        .prefix {
                            color: var(--md-theme-default-accent) !important;
                        }
                    }

                    .prefix {
                        margin-top: 7px;
                        margin-right: 5px;
                        transition: color 400ms ease;
                    }
                }
            }

            .addBookBtn {
                margin: 0 1em 0 0;
            }

            .sortBtn {
                margin: 0 1.5em 0 0;

                .strong {
                    font-weight: 700;
                }
            }

            .readingStateWrapper {
                display: flex;
                align-items: center;

                .readingState {
                    margin: 0 1em 0 0;
                }
            }

            .filteredTxt {
                display: absolute;
                right: 0;
                font-family: "Roboto Bold Italic";
                color: var(--md-theme-default-accent);
                text-transform: uppercase;
            }
        }

        .bookGallery {
            background: none !important;
            display: grid;
            gap: 1em;
            grid-template-columns: repeat(auto-fill, 200px);
            height: 100%;
            overflow: auto;

            .book {
                height: 350px;
                border-radius: 3px;
                overflow: hidden;
                position: relative;

                .bookContent {
                    .bookCover {
                        border-radius: 3px;
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                        user-select: none;
                        z-index: 2000;
                    }
                }

                .progressBar {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 8px;
                    z-index: 5;
                }

                .tooltip {
                    .pages {
                        border-right: 1px solid black;
                        height: 100%;
                    }
                    
                    .percentage {
                        color: green !important;
                    }
                }
            }

            .progress {
                position: absolute;
                bottom: 0;
                z-index: 10;
            }
        }

        .pagination {
            align-items: center;
            display: flex;
            height: 50px;
            justify-content: center;
        }
    }
}
