* {
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0;
}

@media only screen and (max-width: 770px) {
    #signUp {
        .col1 {
            display: none !important;
        }
    }
}

@media only screen and (max-width: 411px) {
    #signUp {
        .col2 {
            width: 100vw !important;
            height: 100vh;

            .signUpCard {
                width: 100% !important;
                height: 100%;
                border-radius: 0 !important;

                .signUpTxt {
                    border-radius: 0 !important;
                }
            }
        }
    }
}

.uploadImageDialog {
    .content {
        overflow: hidden;
        padding: 8px;

        .imgCropper {
            height: 100%;
            width: 300px;
            max-height: 600px;
            background: #d5d5d5;
            z-index: 0;
        }

        .uploadImageBtn {
            width: 300px;
            margin: 0;
            border-radius: 0 0 3px 3px !important;
        }

        .rotateContainer {
            display: flex;
            margin-top: 8px;
            justify-content: space-evenly;
            align-items: center;
        }

        .zoomSliderContainer {
            display: flex;
            justify-content: space-around;
            align-items: center;

            .zoomSlider {
                width: 80%;
                appearance: none;
                height: 10px;
                border-radius: 5px;
                background-color: #448aff;
            }

            .zoomSlider::-webkit-slider-thumb {
                background-color: #fafafa;
                appearance: none;
                height: 15px;
                width: 25px;
                border: 0;
                border-radius: 50px;
                box-shadow: 0px 0px 2px #000000;
                cursor: pointer;
            }
        }
    }
}

#signUp {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;

    .col1 {
        background-color: #448aff;
        color: #fafafa;
        display: grid;
        height: 100vh;
        max-width: 35vw;
        place-items: center;

        .container {
            width: 50%;
            min-width: 250px;

            .logo {
                color: #e7e7e7;
                font-family: "Roboto Slab Bold", serif;
            }
            .caption {
                color: #e7e7e7;
                font-size: 12pt;
                letter-spacing: 2.5px;
                text-transform: uppercase;
            }

            .introduction {
                margin-top: 20px;
            }
        }
    }

    .col2 {
        display: grid;
        place-items: center;
        width: 65vw;

        .signUpCard {
            width: 300px;
            position: relative;

            .signUpTxt {
                background-color: #448aff;
                border-radius: 3px 3px 0 0;
                color: #e7e7e7;
                display: grid;
                font-family: "Roboto Slab Black";
                font-size: 26pt;
                height: 125px;
                place-items: center;
                text-transform: uppercase;
                user-select: none;
                width: 100%;
            }

            .steps {
                margin-top: -10px;

                .firstStep {
                    .createAccountBtn {
                        width: 80%;
                        margin: 0 10% 15px 0;
                    }

                    .cardActions {
                        padding: 0;
                    }
                }

                .secondStep {
                    text-align: center;

                    .addProfilePicture {
                        border-radius: 3px;
                        display: grid;
                        height: 150px;
                        margin-left: 52px;
                        max-height: 150px;
                        max-width: 150px;
                        place-items: center;
                        position: relative;
                        width: 150px;

                        &.profilePictureBorder {
                            border: dashed #757575 5px;
                        }

                        img {
                            border-radius: 3px;
                            object-fit: cover;
                            width: 100%;
                        }

                        .imageLoadingOverlay {
                            align-items: center;
                            background-color: #fafafaaa;
                            display: flex;
                            height: 100%;
                            justify-content: center;
                            position: absolute;
                            width: 100%;
                        }

                        .face {
                            font-size: 70pt !important;
                        }
                    }

                    .imageBtnGrp {
                        align-items: center;
                        display: flex;
                        justify-content: center;
                        margin-top: -22px;
                    }

                    .cardActions {
                        display: flex;
                        justify-content: stretch;
                        padding: 0;
                        margin-bottom: 15px;

                        .completeBtn {
                            width: 80%;
                            position: relative;
                            left: 10%;
                        }
                    }
                }
            }

            .alreadyAMemberTxt {
                color: gray;
                margin: 20px 0;
                text-align: center;
            }
        }
    }
}
