$primary: blue;
$primary-hue: A200;
$accent: red;
$accent-hue: A200;
$theme: light;

@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme(
    "default",
    (
        primary: md-get-palette-color($primary, $primary-hue),
        // The primary color of your application
            accent: md-get-palette-color($accent, $accent-hue),
        // The accent or secondary color
            theme: $theme // The theme of your application (light / dark),,
    )
);

@import "~vue-material/dist/theme/all"; // Apply the theme
