#settings {
    display: grid;
    place-items: center;
    grid-template-rows: max-content;

    .mainContainer {
        grid-row-start: 0;
        grid-row-end: 1;
        width: 400px;
        border-radius: 3px;

        .header {
            background-color: var(--md-theme-default-primary);
            border-radius: 3px 3px 0 0;
            color: #fafafa;
            margin-bottom: 20px;
            padding: 1em 2em;
            text-align: center;

            i {
                color: #fafafa;
                font-size: 32pt !important;
                margin-bottom: 10px;
                margin-top: 10px;
            }
        }

        .imageContainer {
            display: grid;
            place-items: center;
            margin-bottom: 30px;

            .wrapper {
                position: relative;
                display: flex;

                .profilePicture {
                    .imageLoadingOverlay {
                        background-color: #fafafaaa;
                        display: grid;
                        height: 100%;
                        place-items: center;
                        position: absolute;
                        width: 125px;
                    }

                    .image {
                        width: 125px;
                        height: 125px;
                        border-radius: 3px;
                    }
                }

                .btnGroup {
                    display: flex;
                    flex-direction: column;
                    margin-left: 0.5em;

                    .uploadImageBtn,
                    .deleteImageBtn {
                        margin: 0 0 0.5em 0;

                        i {
                            font-size: 18pt !important;
                        }
                    }
                }
            }
        }

        section {
            align-items: baseline;
            display: flex;

            .btn {
                margin-top: -8px;

                &:not([disabled]) {
                    color: #fafafa;
                }

                &.cancelBtn {
                    background-color: var(--md-theme-default-accent);
                    border-radius: 3px;
                    border: none;
                    cursor: pointer;
                    height: 32px;
                    outline: none;
                    overflow: initial;
                    position: relative;
                    width: 32px;
                    width: 32px;

                    i {
                        color: #fafafa;
                        left: 50%;
                        position: absolute;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                }

                &.saveBtn {
                    background-color: #50bb62;
                }
            }

            .gmailWarning {
                position: absolute;
                bottom: -22px;
                font-size: 9pt;
                color: gray;
                left: 0;
            }

            &.changePass,
            &.changeEmail,
            &.changeName {
                display: block;

                .btnGroup {
                    text-align: right;

                    .btn {
                        margin: 0 0 1.5em 0;

                        + .btn {
                            margin-left: 10px;
                        }
                    }
                }
            }

            .passPlaceholderInput {
                user-select: none;
            }

            &.darkMode {
                align-items: center;
                justify-content: space-between;
                position: relative;
                margin: 4px 0 24px;

                &:after {
                    background-image: linear-gradient(
                        to right,
                        rgba(0, 0, 0, 0.38) 0%,
                        rgba(0, 0, 0, 0.38) 33%,
                        transparent 0%
                    );
                    position: absolute;
                    bottom: -10px;
                    right: 0;
                    left: 0;
                    z-index: 1;
                    transition: border 0.3s cubic-bezier(0.4, 0, 0.2, 1),
                        opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1),
                        transform 0s cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
                    will-change: border, opacity, transform;
                    content: "";
                    height: 1px;
                    background-size: 4px 1px;
                }

                .switchWrapper {
                    display: flex;
                    justify-content: space-between;
                    margin-right: 8px;
                    text-align: center;
                    width: 125px;

                    .switch,
                    .icon {
                        margin: 0;
                    }

                    .icon.active {
                        color: var(--md-theme-default-accent);
                    }
                }
            }

            &.colorPalette {
                align-items: center;
                justify-content: space-between;
                margin-right: 8px;

                .paletteWrapper {
                    display: flex;
                }
            }
        }

        .deleteContainer {
            position: relative;
            width: 100%;
            height: 40px;

            .deleteAccountBtn {
                position: absolute;
                right: 0;
                margin-bottom: 100px;
            }
        }
    }
}
