.addBook {
    .stepper {
        .firstStep {
            [class="md-layout-item"] {
                padding: 1em;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                .scanIsbnBtnContainer {
                    border-right: 1px solid lightgray;
                    height: 100%;

                    .isbnInputLabel {
                        color: #ffffffb3;
                    }

                    .scanIsbnBtn {
                        font-size: 70pt;
                        height: 100px;
                        width: 200px;
                        padding: 0 !important;
                        margin-left: 0;
                    }
                }

                .submitIsbnBtn {
                    width: 100%;
                }

                .isbnList {
                    .listContent {
                        max-height: 150px;
                        overflow: auto;
                        padding-right: 15px;

                        .listItem {
                            display: flex;
                            justify-content: space-between;
                            width: 250px;

                            + .listItem {
                                border-top: 1px solid lightgray;
                            }

                            .selectIsbnBtn{
                                font-size: 12pt;
                            }

                            .deleteItemBtn {
                                width: 10px !important;
                            }
                        }
                    }
                }
            }
        }

        .thirdStep {
            width: 50%;

            .isbnWrapper {
                display: flex;
                justify-content: left;
                margin-bottom: 15px;
                user-select: none;
            }

            .topBookInfo {
                margin-bottom: 20px;

                .bookInfo {
                    margin-left: 10px;
                    width: 50%;
                }
            }
        }
    }

    .btns {
        display: flex;
        justify-content: space-between;

        .cancelBtn,
        .backBtn,
        .doneBtn {
            width: 125px;
        }
    }
}
