* {
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0;
}

a {
    color: black;
    font-family: "Roboto Regular", sans-serif;
    text-decoration: none;
}

.home {
    padding: 1em 1em 0 1em;
    overflow: hidden;

    .menu {
        display: flex;
        height: 72px;
        align-items: center;
        position: relative;

        .logo {
            height: 100%;
            position: relative;
            border-radius: 3px 0 0 3px;
        }

        .navBar {
            font-family: "Yantramanav Regular";
            position: relative;
            user-select: none;
            width: 100%;

            .navItem {
                align-items: center;
                display: flex;
                height: 40px;
                user-select: none;
                font-size: 12pt;

                &[class="is-active"] {
                    border: none !important;
                    background-color: red;
                }

                &:hover {
                    background-color: transparent !important;
                }

                + .navItem {
                    margin-left: 15px;
                }

                i {
                    margin-right: 10px;
                }
            }

            .searchInput {
                width: 400px;
                margin-left: 20px;
            }

            .lastItem {
                align-items: center;
                display: flex;
                position: absolute;
                right: 0;

                span {
                    margin-right: 20px;
                }

                .avatarContent {
                    position: relative;
                    right: 0;
                    width: 60px;
                }
            }
        }

        .msg {
            position: absolute;
            right: 100px;
            font-family: "Yantramanav Regular";
            font-size: 14pt;
        }

        .menuRipple {
            border-radius: 0 3px 3px 0;
            max-width: 72px;
            min-width: 72px;

            .avatar {
                cursor: pointer;
                width: 72px;

                img {
                    height: 72px;
                }
            }
        }
    }

    .routerView {
        height: calc(100vh - 100px);
    }
}
