* {
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0;
}

.home {
    .menu {
        display: flex;
        height: 72px;
        align-items: center;
        position: relative;

        .logo {
            background-color: #448aff;
            color: #fafafa;
            display: grid;
            font-family: "Roboto Slab Bold";
            font-size: 42pt;
            height: 100%;
            place-items: center;
            user-select: none;
            width: 200px;
        }

        .navBar {
            position: relative;
            user-select: none;
            width: 100%;

            .lastItem {
                align-items: center;
                display: flex;
                position: absolute;
                right: 0;
            }
        }

        .append {
            align-items: center;
            color: #fafafa;
            display: flex;
            position: absolute;
            right: 1em;

            .settingsLink {
                margin: 0 1em 0 0;
            }

            .avatar {
                border-radius: 50%;
                height: 60px;
                margin-right: 1em;
                width: 60px;
            }

            span {
                margin-right: 0.5em;
            }

            .logout {
                margin: 0;

                i {
                    color: #fafafa;
                }
            }
        }
    }

    .routerView {
        height: calc(100vh - 72px);
        padding: 1em;
        width: 100vw;
    }
}
