:root {
    // Colors
    --color-1: #323232;
    // Fonts
    --header: "Roboto Slab Regular";
}

#app {
    background-image: linear-gradient(to top, #fafafabb, #fafafabb),
        url("assets/bg4.png");
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    font-family: "Roboto Regular", sans-serif;
    height: 100vh;
    width: 100vw;

    a {
        text-decoration: none;
    }

    img {
        -webkit-user-drag: none;
    }

    ::selection {
        background-color: #323232;
        color: #fafafa;
    }

    .loading-screen {
        align-items: center;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        left: 0;
        position: absolute;
        top: 0;
        width: 100vw;
        z-index: 99999;
        
        .loading-message {
            color: #fafafa;
            margin-top: 20px;
        }
    }

    .md-button:not(.md-stepper-header) {
        .md-icon {
            vertical-align: -8px;
        }
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

/*
 * Robot
 */
@font-face {
    font-family: "Roboto Black";
    src: url("./assets/font/Roboto/Roboto-Black.ttf");
}
@font-face {
    font-family: "Roboto Black Italic";
    src: url("./assets/font/Roboto/Roboto-BlackItalic.ttf");
}
@font-face {
    font-family: "Roboto Bold";
    src: url("./assets/font/Roboto/Roboto-Bold.ttf");
}
@font-face {
    font-family: "Roboto Bold Italic";
    src: url("./assets/font/Roboto/Roboto-BoldItalic.ttf");
}
@font-face {
    font-family: "Roboto Italic";
    src: url("./assets/font/Roboto/Roboto-Italic.ttf");
}
@font-face {
    font-family: "Roboto Light";
    src: url("./assets/font/Roboto/Roboto-Light.ttf");
}
@font-face {
    font-family: "Roboto Light Italic";
    src: url("./assets/font/Roboto/Roboto-LightItalic.ttf");
}
@font-face {
    font-family: "Roboto Medium";
    src: url("./assets/font/Roboto/Roboto-Medium.ttf");
}
@font-face {
    font-family: "Roboto Medium Italic";
    src: url("./assets/font/Roboto/Roboto-MediumItalic.ttf");
}
@font-face {
    font-family: "Roboto Regular";
    src: url("./assets/font/Roboto/Roboto-Regular.ttf");
}
@font-face {
    font-family: "Roboto Thin";
    src: url("./assets/font/Roboto/Roboto-Thin.ttf");
}
@font-face {
    font-family: "Roboto Thin Italic";
    src: url("./assets/font/Roboto/Roboto-ThinItalic.ttf");
}

/*
 * Roboto Slab
 */
@font-face {
    font-family: "Roboto Slab Black";
    src: url("./assets/font/Roboto_Slab/RobotoSlab-Black.ttf");
}
@font-face {
    font-family: "Roboto Slab Bold";
    src: url("./assets/font/Roboto_Slab/RobotoSlab-Bold.ttf");
}
@font-face {
    font-family: "Roboto Slab Extra Bold";
    src: url("./assets/font/Roboto_Slab/RobotoSlab-ExtraBold.ttf");
}
@font-face {
    font-family: "Roboto Slab Extra Light";
    src: url("./assets/font/Roboto_Slab/RobotoSlab-ExtraLight.ttf");
}
@font-face {
    font-family: "Roboto Slab Medium";
    src: url("./assets/font/Roboto_Slab/RobotoSlab-Medium.ttf");
}
@font-face {
    font-family: "Roboto Slab Regular";
    src: url("./assets/font/Roboto_Slab/RobotoSlab-Regular.ttf");
}
@font-face {
    font-family: "Roboto Slab Semi Bold";
    src: url("./assets/font/Roboto_Slab/RobotoSlab-SemiBold.ttf");
}
@font-face {
    font-family: "Roboto Slab Thin";
    src: url("./assets/font/Roboto_Slab/RobotoSlab-Thin.ttf");
}

/*
 * Karma
 */
@font-face {
    font-family: "Karma Bold";
    src: url("./assets/font/Karma/Karma-Bold.ttf");
}
@font-face {
    font-family: "Karma Light";
    src: url("./assets/font/Karma/Karma-Light.ttf");
}
@font-face {
    font-family: "Karma Medium";
    src: url("./assets/font/Karma/Karma-Medium.ttf");
}
@font-face {
    font-family: "Karma Regular";
    src: url("./assets/font/Karma/Karma-Regular.ttf");
}
@font-face {
    font-family: "Karma Semi Bold";
    src: url("./assets/font/Karma/Karma-SemiBold.ttf");
}

/*
 * Yantramanav
 */
@font-face {
    font-family: "Yantramanav Black";
    src: url("./assets/font/Yantramanav/Yantramanav-Black.ttf");
}
@font-face {
    font-family: "Yantramanav Bold";
    src: url("./assets/font/Yantramanav/Yantramanav-Bold.ttf");
}
@font-face {
    font-family: "Yantramanav Light";
    src: url("./assets/font/Yantramanav/Yantramanav-Light.ttf");
}
@font-face {
    font-family: "Yantramanav Medium";
    src: url("./assets/font/Yantramanav/Yantramanav-Medium.ttf");
}
@font-face {
    font-family: "Yantramanav Regular";
    src: url("./assets/font/Yantramanav/Yantramanav-Regular.ttf");
}
@font-face {
    font-family: "Yantramanav Thin";
    src: url("./assets/font/Yantramanav/Yantramanav-Thin.ttf");
}
