@font-face {
    font-family: "Roboto Slab Thin";
    src: url("../../assets/font/Roboto_Slab/RobotoSlab-Thin.ttf");
}
@font-face {
    font-family: "Roboto Slab Light";
    src: url("../../assets/font/Roboto_Slab/RobotoSlab-Light.ttf");
}
@font-face {
    font-family: "Roboto Regular";
    src: url("../../assets/font/Roboto/Roboto-Regular.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0;
}

.login {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;

    .loginCard {
        width: 300px;
        position: relative;

        .logo {
            border-radius: 5px;
            height: 100px;
            left: 50%;
            position: absolute;
            top: -50px;
            transform: translateX(-50%);
            user-select: none;
        }

        .logoText {
            font-family: "Roboto Slab Light", sans-serif;
            font-size: 13.75pt;
            font-weight: 500;
            margin-top: 55px;
            text-align: center;
            user-select: none;
        }

        .rememberMe {
            margin-top: -20px;
        }

        .loginBtn {
            margin: -10px 0 20px 0;
            width: 80%;
        }

        .loginWithTxt {
            color: gray;
            margin-bottom: 20px;
            text-align: center;
        }

        .btnGrp {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .socialBtnGrp {
            display: flex;
            justify-content: stretch;

            button {
                height: 45px;

                &.fbBtn {
                    background-color: #3b5998;
                    color: #fafafa !important;
                }

                width: 100%;

                i {
                    font-size: 15pt;
                    margin-right: 10px;
                    vertical-align: -2px;
                }
            }
        }

        .notAMemberTxt {
            color: gray;
            margin: 20px 0;
            text-align: center;
        }
    }
}
