#dashboard {
    .statistics {
        margin-top: 1em;

        .header {
            .headerCard {
                padding: 1em;
                margin-top: -30px;
                width: 250px;

                .headerIcon {
                    vertical-align: -4px;
                    color: var(--md-theme-default-text-primary-on-accent);
                }
            }
        }

        .content {
            display: flex;

            .card {
                height: 255px;
                margin-right: 2em;

                .header {
                    background-color: #0002;
                    margin-bottom: 20px;
                    border-radius: 3px;
                    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                        0 2px 2px 0 rgba(0, 0, 0, 0.14),
                        0 1px 5px 0 rgba(0, 0, 0, 0.12);
                }

                .content {
                    display: flex;
                    flex-direction: column;

                    .counter {
                        line-height: 40pt;
                    }

                    .sub {
                        text-align: right;
                    }
                }
            }

            .bookCount {
                width: 300px;

                .counter {
                    color: #448aff;
                }
            }

            .pagesRead {
                width: 425px;

                .counter {
                    color: #ff4242;
                }
            }

            .booksRead {
                width: 300px;

                .counter {
                    color: #50bb62;
                }
            }
        }
    }
}
