.dashboard {
    padding-top: 1em;
    display: flex;
    height: 100%;

    [class="md-title"] {
        font-family: "Yantramanav Regular";
    }
    [class="md-subhead"] {
        font-family: "Roboto Slab Regular";
    }

    .card {
        height: 255px;
        margin-right: 1em;

        .content {
            .counter {
                font-size: 80pt;
                line-height: 70pt;
            }

            .sub {
                text-align: right;
            }
        }
    }

    .bookCount {
        width: 300px;
    }

    .pagesRead {
        width: 425px;
    }

    .booksRead {
        width: 300px;
    }

    .temp {
        width: 300px;
        background-color: #58B31E;
        color: #fafafa;
    }
}
